# CLASS / Magnus outputs
Magnus_files/**/outputs_*/
Magnus_files/**/plots*/
Magnus_files/**/run_*/
Magnus_files/**/output_*
Magnus_files/**/unused_parameters
Magnus_files/comparison_NEDE_SInu_RTA_table/
output/
*~
build/
class
*.prof
*.ini
libclass.a
*out
python/classy.cpp
*.pyc
python/build/
*.dSYM
RealSpaceInterface/cache/
.DS_Store
doc/manual/html
doc/manual/latex
*.egg-info/
